In [1]:
import pandas as pd
from pathlib import Path
import seaborn as sns
from plot_params import *
out_stem = 'K562_rep6'
basedir = Path('/home/hsher/scratch/ABC_2rep/')
df = pd.read_csv(basedir/f'DMM/{out_stem}.megaoutputs.tsv', sep = '\t', index_col = 0)

In [12]:
rbps = [i.split('.')[1] for i in df.columns[df.columns.str.startswith(out_stem)]]

In [13]:
rbps

['IGF2BP2',
 'RBFOX2',
 'PUM2',
 'FAM120A',
 'DDX3',
 'ZC3H11A',
 'EIF3G',
 'PRPF8',
 'LIN28B',
 'SF3B4']

In [7]:
basedir/f'DMM/{out_stem}.megaoutputs.tsv'

PosixPath('/home/hsher/scratch/ABC_2rep/DMM/K562_rep6.megaoutputs.tsv')

In [5]:
outstem = Path(infile).name.split('.')[0]

Index(['K562_rep6.IGF2BP2', 'K562_rep6.RBFOX2', 'K562_rep6.PUM2',
       'K562_rep6.FAM120A', 'K562_rep6.DDX3', 'K562_rep6.ZC3H11A',
       'K562_rep6.EIF3G', 'K562_rep6.PRPF8', 'K562_rep6.LIN28B',
       'K562_rep6.SF3B4'],
      dtype='object')

In [3]:
for col in df.columns[df.columns.str.startswith(out_stem)]:
    df['score'] = df[col].apply(lambda value: 1 if value else -1)
    df[['chrom', 'start', 'end', 'name', 'score', 'strand']]
    df.to_csv(f'{col}.bed', sep = '\t', header = False, index = False)

          chrom     start       end    name  score strand
Row.names
1          chr1    629639    629733       1     -1      +
10         chr1    630493    630588      10     -1      +
100013     chr1  65435609  65435708  100013     -1      +
100014     chr1  65435708  65435808  100014     -1      +
100015     chr1  65435808  65435907  100015     -1      +
...         ...       ...       ...     ...    ...    ...
99990      chr1  65433323  65433422   99990     -1      +
99991      chr1  65433422  65433522   99991     -1      +
99992      chr1  65433522  65433621   99992     -1      +
99993      chr1  65433621  65433721   99993     -1      +
99994      chr1  65433721  65433820   99994     -1      +

[138498 rows x 6 columns]